
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
#container{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}
#section1,
#section2 {
    padding: 0 20px;
}
#section1{
    background-color: #2d7ff9;
    color: white;
    padding: 18px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
#section2 {
    background-color: #d0f0fd;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#mini-container{
    padding-top: 35px;
}
#mini-container .pro{
    padding-bottom: 75px;
    font-size: 1.24rem;
}
#mini-container .pro p:first-child{
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.bill{
    display: flex;
    align-items: center;
}
.bill .dollar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-right: 20px;
}
.bill .month {
    font-size: 1rem;
}
.small{
    padding: 10px 0 40px;
}
.small span{
    font-weight: bold;
    font-size: 1rem;
}
a{
    text-decoration: none;
    border: 1px solid #2d7ff9;
    padding: 15px 88px;
    color: white;
    background-color: #2d7ff9;
    border-radius: 50px;
}
a:hover{
    background-color: #063f94;
}
.list-group{
    margin: 40px 0 70px;
    font-size: 1rem;
}
.list-group p:first-child {
    padding-bottom: 20px;
}
.list{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.list p{
    padding-left: 10px;
}
.list p span {
    border-bottom: 3px dotted black;
}
img{
    padding-top: 10px;
}